@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);

@import "compass/reset";

@import "syntax";

$baseFontSize: 14px;
$baseLineHeight: 24px;

$sansFontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "compass_twitter_bootstrap";

// Don't require nasty <table class="table"> that bootstrap expects.
table {
  @extend .table;
}

body {
  // Account for the fixed navbar height.
  padding-top: 50px;
}

a.permalink {
  margin-left: 0.5em;
  display: none;
}

article {
  h2, h3, h4 {
    // Ensure that the headers don't get covered up by the navbar when the user
    // clicks on the permalink.
    padding-top: 40px;
    margin-top: -40px;

    &:hover a.permalink {
      display: inline;
    }
  }
}

.has-permalink:hover > a.permalink {
  display:inline;
}

footer {
  @extend .well;
  @extend .well-small;
  font-size: 13px;
  text-align: center;
}

form#private-key textarea {
  width: 550px;
  height: 420px;
  font-family: $monoFontFamily;
}
