{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Welcome</h1>
<p>The Pub Package Repository hosts packages for use with
<a href="http://www.dartlang.org/docs/pub-package-manager/">pub</a>, the package
manager for the <a href="http://dartlang.org">Dart programming language</a>.</p>
