{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<div class="hero-unit">
  <h1>Welcome to pub.dartlang.org!</h1>
  <p>
    This is your friendly repository of packages of software for the
    <a href="http://dartlang.org">Dart programming language</a>. Explore 
    packages here and install them using <strong>pub</strong>, the package 
    manager for Dart.
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="/doc">Learn more</a>
    <a class="btn btn-primary btn-large" href="/packages">Browse packages</a>
  </p>
</div>
