{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<!doctype html5>
<html>
  <head>
    <title>Pub Package Repository</title>
    <link href="/static/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/static/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <div id="header">
      {{#logged_in}}
        <a href="{{logout_url}}">Log Out</a>
      {{/logged_in}}
      {{^logged_in}}
        <a href="{{login_url}}">Log In</a>
      {{/logged_in}}

      {{#message}}
        <h3>{{message}}</h3>
      {{/message}}
    </div>
    {{& content}}
  </body>
</html>
