{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/script.js"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26406144-13']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </head>
  <body>
    <nav>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="http://www.dartlang.org">
              <div class="dart-logo">dartlang.org</div>
            </a>
            <a class="brand" href="/">pub.dartlang.org</a>
            <ul class="nav">
              <li><a href="/doc">Getting Started</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Docs
                  <div class="caret"></div>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/doc">Getting Started</a></li>
                  <li><a href="/doc/pubspec.html">Pubspec Format</a></li>
                  <li><a href="/doc/package-layout.html">Package Layout Conventions</a></li>
                  <li><a href="/doc/glossary.html">Glossary</a></li>
                  <li><a href="/doc/versioning.html">Versioning Philosophy</a></li>
                  <li class="nav-header">Pub Commands</li>
                  <li><a href="/doc/pub-install.html"><code>pub install</code></a></li>
                  <li><a href="/doc/pub-update.html"><code>pub update</code></a></li>
                </ul>
              </li>
              <li><a href="/packages">Packages</a></li>
            </ul>
            <ul class="nav pull-right">
              {{#logged_in}}
                <li><a href="/packages/versions/new">Upload Package</a></li>
                <li><a href="{{logout_url}}">Log Out</a></li>
              {{/logged_in}}
              {{^logged_in}}
                <li><a href="{{login_url}}">Log In</a></li>
              {{/logged_in}}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="header">
        {{#message}}
          <h3>{{message}}</h3>
        {{/message}}
      </div>
      {{& content}}
      <footer>
        <a href="http://www.dartlang.org/">
          Dart Language
        </a> &mdash; <a href="http://www.google.com/intl/en/policies/terms/">
          Terms of Service
        </a> &mdash; <a href="http://www.google.com/intl/en/policies/privacy/">
          Privacy Policy
        </a>
      </footer>
    </div>
  </body>
</html>
