{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<form method="POST" enctype="multipart/form-data" action="{{url}}">
  {{#fields}}
    {{#value}}<input type="hidden" name="{{key}}" value="{{value}}">{{/value}}
  {{/fields}}

  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>
