{{! Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
    for details. All rights reserved. Use of this source code is governed by a
    BSD-style license that can be found in the LICENSE file. }}

<h1>Admin Console</h1>

<div class="admin">
  <ul>
    <li class="active"><a href="#tab-packages" data-toggle="tab">Packages</a></li>
    <li>
      <a href="#tab-private-key" data-toggle="tab">Private Key</a>
    </li>
  </ul>
  <div>
    <div class="active" id="tab-packages">
      {{#reload_status}}
        <div class="reload">
          <h3>
            Reloading Packages:
            <span class="count">{{count}}</span>/<span class="total">{{total}}</span>
          </h3>

          <div class="progress active">
            <div class="bar" style="width: {{percentage}}"></div>
          </div>
        </div>
      {{/reload_status}}

      <form method="POST" action="/packages/versions/reload">
        <button type="submit">Reload package metadata from archives.</button>
      </form>
    </div>
    <div id="tab-private-key">
      {{#private_key_set}}
        <h4>Note: the private key has already been set.</h4>
      {{/private_key_set}}

      {{^production}}
        <p>In development, the private key may be any string.</p>
      {{/production}}

      <form action="/private-keys" method="POST" id="private-key">
        <textarea name="key" cols="64"></textarea>
        <button type="submit">Set Key</button>
      </form>
    </div>
  </div>
</div>
